body {
    //background-color: #525252 !important;
    //color: #EAEAEA !important;
    min-height: 100vh;
    display: block;
    position: relative;
}

header {
    text-align: center;
    background-color: #AFAFAF;
}

form {
    div{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        max-width: 450px;
    }
    button {
        margin-top: 1em;
    }

    input {
        border: none;
        border-radius: 2%;
    }
}

.content{
    margin: auto;
    width: 100%;
}

.pic-sec{
    max-width: 450px;
    margin: 2em auto 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: picture;
}

.carousel-inner{
    img {
        width: 100%;
        height: 300px;
        margin: auto;
    }
}

.trip-info{
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: info;
}

footer{
    bottom: 0;
    width: 100%;
    position: absolute;
    text-align: center;
    padding-top: 1em;
    background-color: #AFAFAF;
}

.trip {
    display: grid;
    grid-template-areas:
    "picture"
    "info";
}

@media(min-width: 900px){
    .trip {
        grid-template-areas:
        "picture info";
    }

    .trip-info{
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        grid-area: info;
    }
    
}

